<header class="header">
    <div>
        <img class="header__logo"src="img/car_rental_logo.svg" alt="car_rental_logo"  width="200">
    </div>
    <div class="header__links">
        <button onclick="window.location.href = 'https://www.facebook.com/'">FB</button>
        <button onclick="window.location.href = 'https://www.instagram.com/'">INS</button>
        <button onclick="window.location.href = 'https://www.youtube.com'">YT</button>
    </div>
    <nav class="header__nav">
        <a href="#">About us</a>
        <a href="#">Car of the month</a>
        <a href="#">Pricing</a>
        <a href="#">Testimonials</a>
        <a href="#">Contact us</a>
    </nav>
</header>